.icons {
    margin-right: 20px;
    width: 20px
}

.boton-editar {
    float: right;
    margin-right: 10rem;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
}

.boton-agregar {
    float: right;
    margin-right: 1rem;
    height: 3rem;
    font-size: 20px;
}

.ver-empresa-icons {
    width: 1.3rem;
    margin-left: 10px;
}

.boton-guardar {
    float: right;
    margin-right: 1rem;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    display: none;
}